# Ignore Git and version control files
.git
.gitignore


# Ignore temporary files
# .env

# Ignore Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore Jenkins files
Jenkinsfile

# Ignore certain directories (examples)
nginx/