<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery - TMDB Movie Poster App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container mt-5">
    <h1>Movie Posters Gallery</h1>
    <div class="row">
        {% for poster in posters %}
        <div class="col-md-3">
            <h5>{{ poster.movie_name }}</h5>
            <img src="{{ poster.image_src }}" class="img-fluid" alt="Poster">
            <form action="/delete/{{ poster.movie_name }}" method="post" class="mt-2">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% if loop.index % 4 == 0 %}
        </div><div class="row mt-4">
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>
